
$color-bg: #eef4ed;
$color-front: #0b2545;

html {
    background-color: $color-bg;
    color: $color-front;

    // Manage fonts
    // Genral
    font-family: sans-serif;
    // In menu navigations
    nav {
        line-height: 10pt;
        font-size: 12pt;
        &.actions li {
            list-style-type: none;
            display: inline;
            padding: 4px;
        }
        &.actions {
            a:hover {
                text-decoration: none;
            }
            li:hover {
                background-color: #888;
            }
        }
/*        &.actions li:not(:last-child)::after {
            margin-right: 4px;
            content: '-';
        }*/
    }

    // links
    a {
        color: #333;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    a.list-button {
        color: #333;
        text-decoration: none;
        border: 1px solid #999;
        box-shadow: 2px 1px #abb9a8;
        padding: 1px 6px;
        &:hover {
            box-shadow: -1px -1px #abb9a8;
        }
    }
}

header {
    display: inline-flex;
    position: sticky; /* Set the navbar to fixed position */
    width: 100vw;
    background-color: #000;
    nav {

      ul li {
        list-style: none;
        position: relative;
        float: left;
        height: -moz-available;
        top: -7px;
        a {
            color: #fff;
        }
        &:not(:last-child) {
            padding-right: 1rem;
        }
      }
    }
}

main, footer {
  max-width: 880px;
  padding: 0 16px;
  margin: 0 auto;
}

main {
    table {
        background: #525551;
        color: #d8dfd7;

        thead {
            tr, td {
                box-shadow: inset 0px -1px #111;
            }
        }
        tbody {
            background: #eee;
            color: #222;
        }
        th, tr {
            padding: 8px;
        }
        th {
            text-align:left;
        }
        td {
            padding: 5px 3px;
        }
    }
}

body {
    padding: 0;
    margin: 0;
    form {
        display: grid;
        grid-template-columns: 22vw;
        grid-gap: 16px;

        label {

            grid-column: 1 / 2;

        }

        input {
            grid-column: 3;
        }
    }
    .registration_form {
        form {
            div,button {
                display: grid;
                grid-column: 2;
            }
            input {
                box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    width: 100%;
    max-width: 100%;
    border: 1px solid rgb(209, 209, 209);
    color: rgb(31, 31, 31);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 1px 1px 3px;
    transition: border-radius 200ms;
    height: 36px;
    padding: 8px 10px;
    border-radius: 4px;
            }
            input:hover {
                box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 5px;
            }
        }
    }
}

       .popup {
         position: fixed;
         display: none;
         overflow: hidden;
         top: 10%;
         right: 0;
       }
       .popup-overlay {
       }
       .main-popup {
	       left: 0;
         width: 50%;
         z-index: 1;
         background: #d2e1cf;
         padding: 30px 20px;
         line-height: 1rem;
         display: flex;
         justify-content: center;
         align-items: center;
       }
       .close-btn {
	       border: .6px solid white;
	       padding: 10px;
	       position: absolute;
	       top: 1rem;
	       right: 1rem;
	       font-size: 2rem;
	       cursor: pointer;
	       transition: .5s ease all;
       }
       .close-btn:hover {
	       background: white;
       }
       .popup-content p {
	       font-size: 1.5rem;
	       line-height: 2rem;
       }
       @keyframes slide-in {
	       0% {
		       transform: translateX(200%);
	       }
	       100% {
		       transform: translateX(40%);
	       }
       }
       @keyframes slide-out {
	       0% {
		       transform: translateX(40%);
	       }
	       100% {
		       transform: translateX(200%);
	       }
       }
