{% extends 'base.html.twig' %}

{% block title %}Hello Customercontroller{% endblock %}

{% block body %}
  <h1>Kundeliste</h1>

  <i class="fa-regular fa-circle-question open-btn"></i>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
          <td><a href="/customer/{{ customer.id }}">{{ customer.firstName }}</a></td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.phone }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">no records found</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav class="action">
    <ul>
      <li>
        <a href="/customer/add">Add new customer</a>
      </li>
    </ul>
  </nav>
  
{% endblock %}
