{% extends 'base.html.twig' %}

{% block title %}Hello Customercontroller{% endblock %}

{% block body %}
  <h1>{{ 'List of Customers'|trans }}</h1>

  <i class="fa-regular fa-circle-question open-btn"></i>

  <div data-controller="customer-search">
    <input data-customer-search-target="input"
           data-action="input->customer-search#search"
           type="search"
           placeholder="Search by name, phone or email…"
           value="{{ q ?? '' }}"
           class="search-input">

    <div data-customer-search-target="results">
      {% include 'customer/_results.html.twig' %}
    </div>
  </div>

  <nav class="action">
    <ul>
      <li>
        <a href="/customer/add">Add new customer</a>
      </li>
    </ul>
  </nav>

{% endblock %}
